<div class="title">
  <a href="index.html"
    ><button class="imgButton"> <img class="back-image" src="../../../assets/images/back-icon.png" alt=""
  /></button></a>
  
</div>
<div class="flexbox">
  <article class="main">
    <h1>{{articleData.title}}</h1>
    <p>
      {{articleData.summary}}
    </p>
  </article>
  <section class="side">
    <img src="{{articleData.image}}" alt="" />
    <p>Ready in minutes: {{articleData.readyInMinutes}}</p>
    <p>Servings: {{articleData.servings}}</p>
  </section>
</div>
