.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1% 0% 0% 1%;
}
.imgButton{
    width: 100%;
    background: #fafaf4;
    border-radius: 9px;
    margin-left: 55%;
}
.back-image{
    height: 28px;
    width: 37px;
}
.main {
  background: #fef3f3;
  margin-bottom: 10px;
}
.side {
  background: #f9f5e5;
  width: 50%;
}
.side img {
  width: 100%;
}
.main,
.side {
  padding: 2%;
  border-radius: 10px;
  width: 100%;
}
.flexbox {
  padding: 5%;
}

@media (min-width: 600px) {
  .flexbox {
    display: -webkit-flex;
    display: flex;
  }
  .main {
    margin: 0 10px 0 0;
  }
}
